/node_modules/
/vendor/
/style.css
/script.js

/composer.lock
/package-lock.json

# Configuration
/.env

# Build
/build/

# Uploads
/uploads/

# Uploads
/uploads/

# Log files
/logs/

# htaccess
/.htaccess
