@use 'variables' as *;

*:before,
*,
*:after {
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::selection {
    color: $color-white;
    background-color: $color-primary;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 95%;
}

body {
    background-color: rgb(255, 255, 255);
    color: #333;
    padding: 0;
    margin: 0;
    font-family: $font-family-body;
    font-weight: normal;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 140%;
    overflow-x: hidden;
    position: relative;
}
