@use 'variables' as *;

.wp-block-gallery {
    margin: 0 0 1.25rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.content-section {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page-title {
    margin: 1.5rem 0 .75rem;
    padding: 0;
    font-family: $font-family-body;
    font-weight: 700;
    font-size: 1.6rem;
    color: lighten($color-secondary, 0%);
    text-rendering: optimizeLegibility;
    line-height: 1.4;

    @media (min-width: $grid-breakpoint-md-min) {
        font-size: 2.1rem;
    }
}

.widgets {
    & > li {
        list-style: none;
    }
}

.news {
    margin: 0;
    padding: 0 0 8px;
    display: block;
    width: 100%;
    color: lighten($color-black, 10%);
    background-color: transparent;
    overflow: hidden;

    &:hover,
    &:active,
    &:focus {
        color: lighten($color-black, 10%);
    }

    &:hover {
        // background-color: lighten($color-black, 98%);
    }

    &-image {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        background-color: transparent;
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;

        @include keep-aspect-ratio(50);

        img {
            margin: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &-title {
        margin: .725rem 0 0;
        padding: 0;
        width: 100%;
        display: block;
        color: lighten($color-black, 30%);
        font-size: 1.2em;

        @include text-ellipsis;
    }

    &-date {
        margin: .725rem 0 0;
        padding: 0;
        color: lighten($color-black, 35%);

        time {
            color: inherit;
        }
    }
}

.post-details {
    margin: 0;
    padding: .5rem 0;
    width: 100%;

    .page-title:last-child {
        margin-bottom: 0;
    }

    &-schedule {
        margin: .75rem 0 0;
        padding: 0;
        font-size: 1em;
        color: lighten($color-primary, 0%);

        i {
            color: lighten($color-black, 40%);
        }

        time {
            margin-left: 6px;
            color: inherit;
            font-weight: 700;
        }
    }

    &-date {
        margin: .75rem 0 0;
        padding: 0;
        font-size: 1em;
        // color: lighten($color-primary, 0%);
        color: lighten($color-black, 40%);

        time {
            margin-left: 6px;
            color: lighten($color-black, 40%);
        }
    }

    &-date {
        margin: .75rem 0 0;
        padding: 0;
        font-size: 1em;
        // color: lighten($color-primary, 0%);
        color: lighten($color-black, 40%);

        time {
            margin-left: 6px;
            color: lighten($color-black, 40%);
        }
    }

    &-categories {
        margin: .75rem 0 0;
        padding: 0;
        display: block;
        width: 100%;
    }

    &-image {
        margin: 1rem 0 0;
        padding: 0;
        display: block;
        width: 100%;
        border-radius: $border-radius;
        position: relative;
        overflow: hidden;

        @include keep-aspect-ratio(50);

        img {
            margin: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            object-fit: cover;
        }
    }
}

.section-heading {
    margin: 1.25rem 0 .5rem;
    padding: 0;
    width: 100%;
    display: block;
    color: $color-secondary;
    font-size: 1.4em;
    text-align: center;

    &.small {
        font-size: 16px;
    }

    &.large {
        font-size: 28px;
    }
}

.section-sub-heading {
    margin: .5rem 0 1.5rem;
    padding: 0;
    width: 100%;
    display: block;
    color: lighten($color-black, 20%);
    font-size: 1.45rem;
    text-align: center;
    position: relative;
    font-weight: 500;
    line-height: 1.5;

    @media only screen and (min-width: $grid-breakpoint-md-min) {
        font-size: 1.7rem;
    }
}

.hamburger {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;

    &-inner {
        margin: -2px 0 0;
        width: 30px;
        height: 2px;
        display: block;
        background-color: lighten($color-black, 30%);
        border-radius: 20%;
        position: absolute;
        top: 7px;
        transition: all .15s ease;

        &::before {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: lighten($color-black, 30);
            border-radius: 20%;
            position: absolute;
            top: 8px;
            transition: all .15s ease, opacity .15s ease;
        }

        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background-color: lighten($color-black, 30);
            border-radius: 20%;
            position: absolute;
            bottom: -10px;
            top: 16px;
            transition: all .15s ease;
        }
    }
}

.card {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border-radius: $border-radius;

    &-newsletter {
        background: #ffffff;
        box-shadow: -4px -6px 24px rgba(0, 0, 0, 0.08), 8px 12px 24px rgba(0, 0, 0, 0.08);
        border-radius: $border-radius;
        padding: 40px 85px 40px 85px;

        &-text {

            h3 {
                font-size: 30px;
                padding-top: 10px;
                line-height: 40px;
            }
        }

        &-form {
        }
    }
}

.post-category {
    margin: 0;
    padding: 3px 8px;
    display: inline-block;
    width: auto;
    font-size: .9em;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    color: lighten($color-black, 30%);
    background-color: transparent;
    text-decoration: none;
}

.post-tag {
    margin: 0 {
        right: 10px;
    };
    padding: 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: $color-primary;
    text-decoration: none;
    transition: $transition;

    &:hover {
        color: $color-black;
    }

    &:before {
        content: "#";
        font-family: $font-family-body;
        margin: 0 {
            right: 5px;
        };
        font-size: 18px;
        font-weight: 500;
    }
}

.content-banner {
    margin: 0;
    padding: 0;
    width: 100%;

    &-regular {
        padding: 200px 0 50px;
        color: $color-white;
        background-color: #23144b;
        text-align: center;

        .content-heading {
            margin: 0 0 16px;
            font-size: 36px;
            font-weight: 500;
            line-height: 50px;
            text-align: center;
        }
    }

    &-hero {
        &-item {
            text-align: center;

            .image {
                margin: 0;
                padding: 0;
                width: 100%;
                display: block;
                background-color: rgb(0, 0, 0);
                background-size: cover;
                background-position: top center;
                overflow: hidden;
            }

            .overlay {
                margin: 0;
                padding: 0;
                width: 100%;
                display: block;
                background-color: rgba(0, 0, 0, .5);
            }

            .content {
                margin: 0;
                padding: 250px 20px 100px;
                min-height: 600px;

                h1 {
                    margin: 0 0 20px;
                    padding: 0;
                    color: $color-white;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 1.5;
                }

                p {
                    margin: 0 0 40px;
                    padding: 0;
                    color: $color-white;
                    font-size: 21px;
                    line-height: 1.5;
                    opacity: .9;
                }

                .actions {
                }
            }
        }

    }
}

.brand-statement {
    margin: 0;
    padding: 24px 30px 40px;
    height: 100%;
    border: 1px solid $color-primary;
    color: $color-secondary;
    background-color: $color-white;
    border-radius: $border-radius;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @media (min-width: $grid-breakpoint-md-min) {
        // padding: 24px 30px;
    }

    &.solid {
        border: 1px solid $color-secondary;
        color: $color-white;
        background-color: $color-secondary;

    }

    .section-heading {
        color: inherit;
    }

    p {
        color: inherit;
    }

    &-image {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 220px;
        display: block;
        background-position: center;
        background-size: cover;
        border-radius: $border-radius;

        @media (min-width: $grid-breakpoint-md-min) {
            height: 100%;
        }

    }
}

.content-section {

    &.statements {
    }

    &.intro {
        .section-heading {
            text-align: left;
        }

        .section-sub-heading {
            text-align: left;
        }

        .image {
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;
            background-position: center;
            background-size: cover;
            border-radius: $border-radius;

            @include keep-aspect-ratio(60);
        }
    }

    &.why-us {
        width: 100%;
        background-color: $color-soft;

        .section-heading {
            text-align: left;
        }

        .section-sub-heading {
            text-align: left;
        }

        .image {
            margin: 0;
            padding: 0;
            width: 100%;
            display: block;
            background-position: center;
            background-size: cover;
            border-radius: $border-radius;

            @include keep-aspect-ratio(50);
        }

        ul {
            margin: 0;
            padding: 0 0 0 1.1rem;
            width: 100%;
            list-style-type: none;

            li {
                margin: 0 0 1rem;
                padding: 0 0 0 1rem;
                width: 100%;

                &::marker {
                    content: "\f058";
                    font-weight: 900;
                    font-family: $fa-style-family;
                    color: lighten($color-primary, 0%);
                    font-size: 1.02em;
                }

                .point {
                    margin: 0 0 .3rem;
                    padding: 0;
                    width: 100%;
                    font-family: $font-family-heading;
                    font-size: 1em;
                    font-weight: 700;
                    color: $color-secondary;
                    display: flex;
                    align-items: center;
                }

                .desc {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }
            }
        }
    }

    &.commitment {
        width: 100%;
        background-color: $color-secondary;

        .section-heading {
            color: $color-white;
            text-align: left;
        }

        .section-sub-heading {
            color: $color-white;
            text-align: left;
        }

        .section-desc {
            color: $color-white;
        }

        .image {
            margin: 0;
            padding: 0;
            width: 100%;
            background-position: top center;
            background-size: cover;
            overflow: hidden;
            border-radius: $border-radius;

            @include keep-aspect-ratio(60);

            @media (min-width: $grid-breakpoint-md-min) {
                @include keep-aspect-ratio(60);
            }
        }
    }

    &.events {
        background-color: $color-soft;
    }

    &.cta {
        margin: 0;
        padding: 0;
        width: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        text-align: center;

        .overlay {
            margin: 0;
            padding: 70px 0;
            width: 100%;
            background-color: rgba(0, 0, 0, .3);

            .title {
                margin: 0;
                color: $color-white;
                font-size: 24px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
            }

            .desc {
                margin: 0 0 25px;
                color: $color-white;
                font-size: 18px;
                text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
                line-height: 1.2;
            }
        }
    }
}

.social-icons {
    margin: 0;
    padding: 0;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;

        li {
            margin: 0 {
                right: 10px;
            };
            padding: 0;
            display: inline-block;
            list-style: none;

            a {
                margin: 0;
                padding: 5px;
                color: $color-secondary;
                text-align: center;
                font-size: 1.1em;

                &:hover,
                &:focus,
                &:active {
                    color: $color-primary;
                }
            }
        }
    }
}
