@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans-Regular.eot');
    src: local('Open Sans'), local('Open Sans Regular'), local('OpenSans-Regular'),
        url('./assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./assets/fonts/OpenSans-Regular.woff') format('woff'),
        url('./assets/fonts/OpenSans-Regular.ttf') format('truetype'),
        url('./assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
