@use 'variables' as *;

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $color-white;
    transition: $transition;
    position: fixed;
    top: 0;
    z-index: $z-index-nav;
    // box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
    border-bottom: 1px solid lighten($color-black, 85%);

    @at-root {
        body.page-scroll & {
            top: -$topbar-height;
        }
    }

    .topbar {
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #00000021;

        &-content {
            margin: 0;
            padding: 0;
            width: 100%;
            height: $topbar-height - 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            &-left {}

            &-right {}
        }

        &-links {
            margin: 0;
            padding: 0;

            ul {
                margin: 0;
                padding: 0;
                display: inline-block;
                list-style-type: none;

                li {
                    margin: 0 {
                        right: 25px;
                    };
                    padding: 0;
                    display: inline-block;
                    color: #424155;
                    position: relative;
                    list-style-type: none;
                    font-size: 14px;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 5px;
                        right: -15px;
                        width: 1px;
                        height: 15px;
                        background-color: #dbdbdb78;
                    }

                    &:last-child {
                        margin: 0;

                        &:before {
                            display: none;
                        }
                    }

                    .topbar-link {
                        color: inherit;
                        font-size: 14px;
                        transition: $transition;
                        text-decoration: none;
                        font-family: $font-family-body;


                        &:hover {
                            color: $color-primary;
                        }

                        .topbar-link-icon {
                            margin-right: 5px;
                            color: $color-secondary;
                        }

                        .topbar-link-label {
                            display: none;

                            &.faq {
                                display: inline-block;
                            }

                            @media (min-width: $grid-breakpoint-md-min) {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    .mainbar {
        margin: 0;
        padding: 0;
        width: 100%;

        &-content {
            margin: 0;
            padding: 0;
            width: 100%;
            height: $navbar-height;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .brand {
                margin: 0;
                padding: 0;
                display: inline-block;
                text-decoration: none;

                &-img {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    max-width: 200px;
                    max-height: 38px;

                    @include text-ellipsis();
                }
            }

            &-right {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                align-content: center;
            }

            .navbar-menu {
                margin: 0;
                padding: 0;
                display: none;

                @media (min-width: $grid-breakpoint-lg-min) {
                    display: inline-block;
                }

                .menu-list {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    list-style-type: none;

                    & > .menu-item {
                        margin: 0 10px;
                        padding: 0;
                        display: inline-block;
                        list-style-type: none;
                        color: #424155;
                        color: lighten(#000, 30%);

                        &:active,
                        &:focus,
                        &:hover {
                            color: $color-primary;
                        }
                        
                        &.current-menu-item {
                            color: $color-primary;
                        }

                        &.menu-item-has-children {
                            position: relative;
                            cursor: pointer;

                            &:after {
                                @include icon-font("\f078");
                                color: inherit;
                                display: inline-block;
                                font-size: .9rem;
                                padding: 5px {
                                    left: 1px;
                                    right: 1px;
                                };
                                transition: $transition;
                            }
                        }

                        & > a {
                            margin: 0;
                            padding: 2px;
                            display: inline-block;
                            color: inherit;
                            font-size: $font-size;
                            font-family: $font-family-body;
                            font-weight: 400;
                            line-height: 1.5;
                            text-decoration: none;
                            transition: $transition;
                        }

                        &.children-open {
                            &:after {
                                transform: rotate(180deg);
                            }

                            .sub-menu {
                                visibility: visible;
                            }
                        }

                        & > .sub-menu {
                            margin: 0;
                            padding: 8px 0;
                            display: block;
                            width: fit-content;
                            list-style-type: none;
                            position: absolute;
                            top: calc(50% + (($navbar-height / 2) + 1px));
                            background-color: #fff;
                            z-index: $z-index-nav + 10;
                            border: 1px solid lighten($color-black, 85%);
                            border-top: none;
                            border-radius: 0 0 $border-radius $border-radius;
                            visibility: hidden;
                            transition: visibility .25s ease;

                            & > .menu-item {
                                margin: 0;
                                padding: 2px 0;
                                display: block;
                                list-style-type: none;
                                color: #424155;

                                &.current-menu-item {
                                    color: $color-primary;
                                }

                                &.menu-item-has-children {
                                    position: relative;
                                    cursor: pointer;

                                    &:after {
                                        @include icon-font("\f078");
                                        color: inherit;
                                        display: inline-block;
                                        font-size: .9rem;
                                        padding: 5px {
                                            left: 1px;
                                            right: 1px;
                                        };
                                        transition: $transition;
                                    }
                                }

                                &.children-open {
                                    &:after {
                                        transform: rotate(180deg);
                                    }

                                    .sub-menu {
                                        visibility: visible;
                                    }
                                }

                                & > a {
                                    margin: 0;
                                    padding: 8px 15px;
                                    display: inline-block;
                                    color: inherit;
                                    font-size: $font-size;
                                    font-family: $font-family-body;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    text-decoration: none;
                                    transition: $transition;
                                    white-space: nowrap;

                                    &:active,
                                    &:focus,
                                    &:hover {
                                        color: $color-primary;
                                    }
                                }

                                .sub-menu {
                                    margin: 0;
                                    padding: 8px 0;
                                    width: fit-content;
                                    list-style-type: none;
                                    position: absolute;
                                    top: 0;
                                    left: calc(100% + 2px);
                                    background-color: #fff;
                                    z-index: $z-index-nav + 10;
                                    border: 1px solid lighten($color-black, 85%);
                                    border-radius: $border-radius;
                                    visibility: hidden;
                                    transition: $transition;

                                    & > .menu-item {
                                        margin: 0;
                                        padding: 2px 0;
                                        display: block;
                                        list-style-type: none;
                                        color: #424155;

                                        &.current-menu-item {
                                            color: $color-primary;
                                        }

                                        &.menu-item-has-children {
                                            position: relative;
                                        }

                                        & > a {
                                            margin: 0;
                                            padding: 8px 15px;
                                            display: inline-block;
                                            color: inherit;
                                            font-size: $font-size;
                                            font-family: $font-family-body;
                                            font-weight: 400;
                                            line-height: 1.5;
                                            text-decoration: none;
                                            transition: $transition;
                                            white-space: nowrap;

                                            &:active,
                                            &:focus,
                                            &:hover {
                                                color: $color-primary;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .navbar-cta {
                margin: 0 {
                    left: 30px;
                };
                display: none;

                @media (min-width: $grid-breakpoint-lg-min) {
                    display: inline-block;
                }
            }

            .mobile-nav-toggle {
                margin: 0;
                padding: 5px 5px;
                display: inline-block;
                background-color: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                transition: $transition;

                @media (min-width: $grid-breakpoint-lg-min) {
                    display: none;
                }
            }
        }
    }
}

.mobile-nav {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: $color-white;
    box-shadow: 0 0 8 0 rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(300px);
    transition: $transition;
    z-index: $z-index-nav + 900;
    visibility: hidden;

    @media (min-width: $grid-breakpoint-lg-min) {
        display: none;
    }

    @at-root {
        body.mobile-nav-open & {
            transform: translateX(0);
            visibility: visible;
            // opacity: 1;
        }
    }

    &-close {
        margin: 0;
        padding: 16px;
        color: lighten($color-secondary, 0%);
        font-size: 1.725rem;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            outline: none;
            border: none;
        }
    }

    &-overlay {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        z-index: $z-index-nav + 899;
        transition: $transition;

        @at-root {
            body.mobile-nav-open & {
                visibility: visible;
                opacity: 1;
            }
        }

        @media (min-width: $grid-breakpoint-lg-min) {
            display: none;
        }
    }

    &-content {}

    .navbar-menu {
        margin: 30px 0 0;
        padding: 0;
        width: 100%;

        .menu-list {
            margin: 0;
            padding: 0;
            width: 100%;
            list-style-type: none;

            .menu-item {
                margin: 0 0 10px;
                padding: 0 16px;
                width: 100%;
                display: block;
                list-style: none;
                text-align: right;
                color: #424155;

                &.current-menu-item {
                    color: $color-primary;
                }

                &.menu-item-has-children {
                    position: relative;
                    cursor: pointer;

                    &:after {
                        @include icon-font("\f078");
                        color: inherit;
                        display: inline-block;
                        font-size: .9rem;
                        padding: 5px {
                            left: 1px;
                            right: 1px;
                        };
                        transition: $transition;
                        position: absolute;
                        right: 10px;
                        top: 0;
                    }

                    &.children-open {
                        &:after {
                            transform: rotate(180deg);
                        }

                        .sub-menu {
                            visibility: visible;
                        }
                    }

                    & > .sub-menu {
                        margin: 0;
                        padding: 0;
                        display: block;
                        width: 100%;
                        list-style-type: none;
                        background-color: lighten($color-black, 95%);
                        transition: visibility .25s ease;

                        & > .menu-item {
                            margin: 0;
                            padding: 0;
                            display: block;
                            list-style-type: none;
                            color: #424155;

                            &.current-menu-item {
                                color: $color-primary;
                            }

                            &.menu-item-has-children {
                                position: relative;
                                cursor: pointer;

                                &:after {
                                    @include icon-font("\f078");
                                    color: inherit;
                                    display: inline-block;
                                    font-size: .9rem;
                                    padding: 5px {
                                        left: 1px;
                                        right: 1px;
                                    };
                                    transition: $transition;
                                }
                            }

                            &.children-open {
                                &:after {
                                    transform: rotate(180deg);
                                }

                                .sub-menu {
                                    visibility: visible;
                                }
                            }

                            & > a {
                                margin: 0;
                                padding: 8px 15px;
                                display: inline-block;
                                color: inherit;
                                font-size: $font-size;
                                font-family: $font-family-body;
                                font-weight: 400;
                                line-height: 1.5;
                                text-decoration: none;
                                transition: $transition;
                                white-space: nowrap;

                                &:active,
                                &:focus,
                                &:hover {
                                    color: $color-primary;
                                }
                            }

                            .sub-menu {
                                margin: 0;
                                padding: 8px 0;
                                width: fit-content;
                                list-style-type: none;
                                position: absolute;
                                top: 0;
                                left: calc(100% + 2px);
                                background-color: #fff;
                                z-index: $z-index-nav + 10;
                                border: 1px solid lighten($color-black, 85%);
                                border-radius: $border-radius;
                                visibility: hidden;
                                transition: $transition;

                                & > .menu-item {
                                    margin: 0;
                                    padding: 2px 0;
                                    display: block;
                                    list-style-type: none;
                                    color: #424155;

                                    &.current-menu-item {
                                        color: $color-primary;
                                    }

                                    &.menu-item-has-children {
                                        position: relative;
                                    }

                                    & > a {
                                        margin: 0;
                                        padding: 8px 15px;
                                        display: inline-block;
                                        color: inherit;
                                        font-size: $font-size;
                                        font-family: $font-family-body;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        text-decoration: none;
                                        transition: $transition;
                                        white-space: nowrap;

                                        &:active,
                                        &:focus,
                                        &:hover {
                                            color: $color-primary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                a {
                    margin: 0;
                    padding: 2px 16px;
                    width: auto;
                    display: inline-block;
                    font-size: 1.15rem;
                    color: inherit;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $color-primary;
                    }
                }
            }
        }
    }
}
